.choresText {
   color: red;
   font-size: large;
   font-style: italic;
   text-align: left;
}

.choresHeading {
   color: red;
   font-size: larger;
   text-decoration: underline;
   text-align: left;
}